<style>
    .alert-success{
        background-color:green;
        color:white;
        text-align:center;
        font-weight:bold;
    }.alert-danger{
        background-color:red;
        color:white;
        text-align:center;
        font-weight:bold;
    }.alert-warning{
        background-color:orange;
        color:white;
        text-align:center;
        font-weight:bold;
    }
</style>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
           {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %} 