{% extends '@EasyAdmin/page/content.html.twig' %}

{# {% block page_title %}{% endblock %} #}
{% block head_stylesheets %}
    {# <link rel="stylesheet" href=""> #}
    <link rel="stylesheet" href="{{ asset('app.css', ea.assets.defaultAssetPackageName) }}">
    <link rel="stylesheet" href="../assets/css/style.css">

{% endblock %}

{% block page_content %}

<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card  shadow ">
                <div class="card-body">
                    <h3 class="card-title ">Products Sold</h3>
                    <div class="d-inline-block">
                        <h2 class="">4565</h2>
                        <p class=" mb-0">Jan - March 2019</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card  shadow ">
                <div class="card-body">
                    <h3 class="card-title ">Products Sold</h3>
                    <div class="d-inline-block">
                        <h2 class="">4565</h2>
                        <p class=" mb-0">Jan - March 2019</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card  shadow ">
                <div class="card-body">
                    <h3 class="card-title ">Products Sold</h3>
                    <div class="d-inline-block">
                        <h2 class="">4565</h2>
                        <p class=" mb-0">Jan - March 2019</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card  shadow ">
                <div class="card-body">
                    <h3 class="card-title ">Products Sold</h3>
                    <div class="d-inline-block">
                        <h2 class="">4565</h2>
                        <p class=" mb-0">Jan - March 2019</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}